@import "../globals/variables.scss";

header {
    position: relative;
    background-image: url(../img/about/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 35rem;
    color: $bg-color;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
}

.about-grid {
    display: grid;
}

//SECT1

.about-sect1 {
    justify-content: space-around;
}

//LEFT

.sect1-left-bot {
    flex-wrap: nowrap;
    //425 wrap - 90vw
}

.sect1-left-bot-content {
    background: none;
    margin-right: 2rem;
    padding: 0;
}

//RIGHT

.about-sect1-exyears {
    background: $primary-color;
    border-radius: $border-radius;
    color: $bg-color;
    text-align: center;
    box-shadow: 3rem 3rem 3rem $layer2;
    min-width: 3rem;
    padding: 4rem 5rem;
    left: -8.5rem;
    top: 28rem;

    span {
        font-size: clamp(5rem, 4vw, 7rem);
        line-height: 8rem;
        font-weight: 600;
    }

    p {
        font-size: clamp(1.5rem, 4vw, 1.8rem);
    }
}

.about-top {
    .sect1-left {
        margin-left: 2rem;
    }

    .sect1-right {
        min-width: 0;
    }
}

//SECT2

.about-sect2-content {
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 3rem 0;
    justify-content: space-around;
    padding: 10rem 0 10rem 2rem;
}

.about-sect2-counter {
    counter-reset: num var(--n);
    font-weight: bold;
    font-size: clamp(4rem, 4vw, 5rem);
    line-height: 5rem;
}

.about-sect2-text {
    font-size: 1.6rem;
    color: $primary-color;
    font-weight: bold;
    line-height: 5rem;
}

//COUNT-ANIMATION
:root {
    --from: 0;
    --to2500: 2500;
    --to1500: 1500;
    --to1280: 1280;
    --to3020: 3020;
}

@property --n {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
    
}

.counter-1 {
    animation: animate1 2s forwards;
}

.counter-2 {
    animation: animate2 2s forwards;
}

.counter-3 {
    animation: animate3 2s forwards;
}

.counter-4 {
    animation: animate4 2s forwards;
}

.about-sect2-counter::before {
    content: counter(num);
}

@keyframes animate1 {
    from {
        --n: var(--from);
    }
    to {
        --n: var(--to2500);
    }
}

@keyframes animate2 {
    from {
        --n: var(--from);
    }
    to {
        --n: var(--to1500);
    }
}

@keyframes animate3 {
    from {
        --n: var(--from);
    }
    to {
        --n: var(--to1280);
    }
}

@keyframes animate4 {
    from {
        --n: var(--from);
    }
    to {
        --n: var(--to3020);
    }
}

//SECT3

.about-sect3-content {
    background-image: url(../img/about/banner1.jpg);
    max-width: 100vw;
    min-height: 35rem;
    margin: 0 0;
    padding: 5rem 4rem;
    justify-content: space-around;
    align-items: center;
}

.about-sect3-left {
    color: $bg-color;

    span {
        font-size: 1.6rem;
    }

    p {
        font-size:clamp(2.4rem, 4vw, 3.6rem);
        font-weight: 600;
        text-align: left;
    }
}

.about-sect3-right {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    .about-sect3-btn {
        color: $primary-color;
        background-color: $bg-color;
    }

    .about-sect3-btn:hover {
        color: $bg-color;
        background-color: $primary-color;
        transform: scale(1);
        cursor: pointer;
    }

    button {
        max-width: 100%;
        background-color: $primary-color;
        padding: 1.8rem 3.6rem;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 600;
        border: $primary-color;
        border-radius: $border-radius;
        cursor: pointer;
    }

    button:hover {
        background-color: $button-hover-color;
    }
}

//SECT4

.about-sect4-content {
    grid-template-columns: repeat(auto-fit, min(40vw, 37rem));
    gap: 3rem;
    justify-content: center;
}

.sect4-items {
    height: auto;
    margin: 0 auto;

    .sect4-text {
        a {
            font-size: clamp(1.6rem, 4vw, 2.2rem);
        }
    }
}

.sect4-items-img {
    display: flex;
    position: relative;
    justify-content: center;

    img {
        width: 100%;
        border-radius: $border-radius;
    }
}

.sect4-hidden-icons {
    position: absolute;
    justify-content: center;
    bottom: 0%;
    flex-wrap: nowrap;
    display: none;

    .media-icons {
        a {
            width: clamp(2.5rem, 4vw, 4rem);
            height: clamp(2.5rem, 4vw, 4rem);
            margin: 0 .5rem;
            
            i {
                color: $heading-color;
            }
        }
    }
}

.sect4-items {
    transition: .5s ease-in-out;
}

.sect4-items:hover {
    a {
        transition: .5s ease-in-out;
        color: $primary-color;
    }

    .sect4-hidden-icons {
        display: flex;
        animation: appear .5s ease-in-out both;

        a {
            background-color: $bg-color;            
        }

        a:hover {
            i {
                color: $primary-color;
                transition: .5s ease-in-out;
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}


//SECT5

//RESPONSIVE


@media only screen and (max-width: 768px) {

//SECT1

//LEFT

.about-bot-right {
    flex-wrap: wrap;
}

//RIGHT

.about-sect1-exyears {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 1.5rem;
}

}