@import "../globals/variables.scss";

// ABOUT

// TOP

//REAPEATABLE LAYOUT

.about-layout1__body {
    justify-content: space-between;
    gap: 5rem;
}

//IMG-ONLY

.abt-l1__img {
    width: 47%;

    img {
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        object-fit: cover;
        object-position: center;
    }
}

//CONTENT-ONLY

.abt-l1__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 47%;

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $font-color;
    }
}


// MID

.about-mid {
    background: $bg-grey;
}

.about__mid {
    justify-content: space-between;
    gap: 5rem;
}

.about-mid__cover {
    position: relative;
    width: 47%;
    height: 35rem;
}


.about-mid__cover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $layer1;
    border-radius: $border-radius;
    z-index: 1;
}

.abt-mid__cover-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    overflow: hidden;
}

.abt-mid__items {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform .4s ease-in-out;

    &--left {
        background-image: url(../img/about/banner1.jpg);
    }

    &--right {
        background-image: url(../img/about/banner2.jpg);
    }
}

.abt-mid-items__content {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 85%;
    z-index: 1;

    p {
        width: fit-content;
        height: fit-content;
        font-size: clamp(2rem, 3vw, 4rem);
        font-weight: 600;
        color: $bg-color;
        margin-bottom: 3rem;
    }

    .btn__abt {
        &--mid {
            background-color: transparent;
            border: .1rem solid $bg-color;
        }
    }
    
}

.about-mid__cover:hover {
    .abt-mid__items {
        transform: scale(1.2);
        border-radius: $border-radius;
    }

    .btn__abt {
        &--mid {
            transform: scale(1);
            background-color: $primary-color;
        }
    }
}

// BOT

//CONTENT-ONLY

.about-layout2__body{
    justify-content: space-between;
    gap: 5rem;
}

.abt-l2__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 47%;

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $font-color;
    }
}

//ICON-CONTENT

.abt-l2__subitems {
    width: 47%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.abt-l2-sub__content {
    background: $bg-grey;
    border-radius: $border-radius;
    padding: 3rem;
    width: 100%;
    min-height: 17rem;
    gap: 2rem;
}

.abt-l2-sub__icon {
    color: $primary-color;
    font-size: 3rem;
}

.abt-l2-sub__text {
    a {
        color: $heading-color;
        font-size: clamp(1.6rem, 2.5vw, 2.6rem);
        font-weight: 700;
    }

    p {
        font-size: 1.8rem;
        color: $font-color;
    }

    a:hover {
        color: $primary-color;
    }
}

// ABOUT-VIDEO

.about__video {
    background-image: url(../img/banner5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    min-width: 32rem;
    min-height: 60rem;
    margin-bottom: 5rem;
    position: relative;

    .about-video__play {
        justify-content: center;
        align-items: center;
        width: 47%;
        height: 20rem;
        
        .playbtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            background-color: $bg-color;
            margin: 0 auto;
            z-index: 1;

                i {
                    font-size: 2rem;
                    color: $primary-color;
                }
        }

        .playbtn:hover {
            transform: scale(1.2);
        }

        // WAVE ANIMATION

        .wave-animation {
            position: relative;
            align-items: center;
            justify-content: center;

            .circle {
                border-radius: $border-radius-full;
                background-color: $bg-grey;
                width: 5.5rem;
                height: 5.5rem;
                position: absolute;
                animation: waveout 4s ease-in infinite;
            }

            @keyframes waveout {
                from {
                transform: scale(1);
                opacity: .5;
                }
                to {
                transform: scale(3);
                opacity: 0;
                }
            }
        }
    }

    .about-video__content {

        h6, p {
            color: $bg-grey;
        }

        h4 {
            color: $bg-color;
        }
    }
}

.abt-video__popup {
    position: fixed;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background: $layer;
    border: none;
    top: 0;
    z-index: 2;

    #video-content {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        width: min(90vw, 100rem);
        height: 50rem;
        // transform-origin: top left;
        transform: scale(0);
        transition: transform .5s ease-in-out;

        .video-popup__close-btn {
            display: flex;
            justify-content: end;

            i {
                font-size: 2rem;
                color: $bg-color;
            }

            i:hover {
                cursor: pointer;
            }
        }

        iframe {
            width: 100%;
            height: 70%;
        }
    }
}

//RESPONSIVE

@media only screen and (max-width: 1200px) {
// ABOUT

// TOP

//REAPEATABLE LAYOUT

.about-layout1__body {
    flex-wrap: wrap;
}

//IMG-ONLY

.abt-l1__img {
    width: 100%;
}

//CONTENT-ONLY

.abt-l1__items {
    width: 100%;
}


// MID

.about__mid {
flex-wrap: wrap;
}

.about-mid__cover {
    width: 100%;
}

// BOT

//CONTENT-ONLY

.about-layout2__body{
    flex-wrap: wrap;
}

.abt-l2__items {
    width: 100%;
}

//ICON-CONTENT

.abt-l2__subitems {
    width: 100%;
}

// ABOUT-VIDEO

.about__video {
    flex-wrap: wrap;

    .about-video__play {
        width: 100%;

    }
}
}

@media only screen and (max-width: 600px) {
    .about-mid__cover {
        height: 20rem;
    }

    .abt-mid-items__content {
        p {
            margin-bottom: 1rem;
        }
    }

    .abt-video__popup {
        #video-content {
            height: 30rem;
        }
    }
}