@import "../globals/variables.scss";

// ABOUT

// TOP

//REAPEATABLE LAYOUT

.about-layout1__body {
    justify-content: space-around;
    margin: auto;
    height: 40rem;

}

//IMG-ONLY

.abt-l1__img {
    width: 42vw;
    height: 40rem;

    img {
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        object-fit: cover;
        object-position: center;
    }
}

//CONTENT-ONLY

.abt-l1__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42vw;
    min-height: 40rem;

    h6 {
        font-size: 1.4rem;
        color: $font-color;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $font-color;
    }
}


// MID

.about__mid {
    background: $bg-grey;
    justify-content: space-around;
}

.about-mid__cover {
    position: relative;
}

.abt-mid-cover__wrapper {
    width: 42vw;
    height: 40rem;
    border-radius: $border-radius;
    overflow: hidden;
}

.abt-mid__items {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: .6s ease-in-out;

    &--left {
        background-image: url(../img/about/banner1.jpg);
    }

    &--right {
        background-image: url(../img/about/banner2.jpg);
    }
}

.abt-mid-items__content {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 1;

    p {
        width: fit-content;
        height: fit-content;
        font-size: clamp(2.3rem, 4vw, 4rem);
        font-weight: 600;
        color: $bg-color;
    }

    .btn__abt {
        &--mid {
            background-color: transparent;
            border: .1rem solid $bg-color;
        }
    }
    
}

.abt-mid__items:hover {
    transform: scale(1.2);
    border-radius: $border-radius;
}

.about-mid__cover:hover {
    .btn__abt {
        &--mid {
            transform: scale(1);
            background-color: $primary-color;
            transition: .6s ease-in-out;
        }
    }
}

// BOT

.flex--wrap {
    flex-wrap: wrap;
}

//CONTENT-ONLY

.about-layout2__body{
    justify-content: space-around;
}

.abt-l2__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42vw;
    min-height: 35rem;

    h6 {
        font-size: 1.4rem;
        color: $font-color;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $font-color;
    }
}

.abt-l2__subitems {
    justify-content: space-around;
    width: 42vw;
    min-height: 35rem;
}

.abt-l2-sub__content {
    background: $bg-grey;
    border-radius: $border-radius;
    padding: 3rem;
    height: fit-content;
}

.abt-l2-sub__icon {
    color: $primary-color;
    font-size: 3rem;
    margin-right: 2rem;
}

.abt-l2-sub__text {

    a {
        color: $heading-color;
        font-size: 2.5rem;
        font-weight: 700;
    }

    p {
        font-size: 1.8rem;
        color: $font-color;
    }

    a:hover {
        color: $primary-color;
        transition: .6s ease-in-out;
    }
}

// ABOUT-VIDEO

.about__video {
    background-image: url(../img/banner5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    z-index: 0;
    min-width: 32rem;
    min-height: 60rem;

    .about-video__play {
        width: 42vw;
        
        .playbtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            background-color: $bg-color;
            margin: 0 auto;
            transition: .2s;
            z-index: 1;
            cursor: pointer;

                i {
                    font-size: 2rem;
                    color: $primary-color;
                }
        }

        .playbtn:hover {
            transform: scale(1.2);
        }

        // WAVE ANIMATION

        .wave-animation {
            position: relative;
            align-items: center;
            justify-content: center;

            .circle {
                border-radius: $border-radius-full;
                background-color: $bg-grey;
                width: 5.5rem;
                height: 5.5rem;
                position: absolute;
                animation: scaleIn 4s ease-in infinite;
            }

            @keyframes scaleIn {
                from {
                transform: scale(1);
                opacity: .5;
                }
                to {
                transform: scale(3);
                opacity: 0;
                }
            }
        }
    }

    .about-video__content {
        margin-left: 2rem;

        h6, p {
            color: $bg-grey;
        }

        h4 {
            color: $bg-color;
        }
    }
}

//RESPONSIVE

@media only screen and (max-width: 768px) {

}