@import "../globals/variables.scss";

// ABOUT

.content-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    span {
        font-size: 1.3rem;
        color: $color-morebtn-hover;
    }
    
    h4 {
        font-size: 2rem;
        padding-top: 1rem;
    }
}

// TOP

.about-top {
    justify-content: space-around;

    img {
        width: 60%;
        margin-bottom: 2rem;
    }

    .about-top-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        padding: 0 2rem 2rem;

        p {
            padding-bottom: 1rem;
        }
    }
}
// 2ND
.about-snd {
    justify-content: space-between;
    background-color: $color-services-top;
    padding: 2rem;
    margin: 0 -3rem 2rem;
}

.snd-item {
    display: flex;
    justify-content: space-between;
    background-image: url(/img/about/shipping-process.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    width: 43vw;
    height: 30rem;
    padding: 5%;
    margin: 1rem;

    p {
        font-size: 3rem;
    }

    a {
        background: $color-hover;
        width: min-content;
        height: min-content;
        display: inline-block;
        font-size: 2rem;
        border: 0.1rem solid $color-default;
        border-radius: 0.1rem;
        padding: 1rem;
        margin: 1rem;
    }
}

//3RD
.about-trd {
    justify-content: space-around;
}

.trd-left {
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.trd-right {
    background-color: $color-services-top;
    width: fit-content;
    padding: 3rem;

    i {
        color: $color-more-btn;
        font-size: 3rem;
    }

    .trd-content {
        margin-left: 1rem;
    }
}
//BOT

.about-bot {
    position: relative;
    width: 100%;
    height: 100%;
}

#myVideo {
    width: 100%; 
    height: 100%;
}

.content {
    background: rgba(0, 0, 0, 0.1);
    color: $color-default;
    width: 100%;
    height: 100%;
}

#myBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: $color-alt;
    color: $color-default;
    opacity: 0.5;
    cursor: pointer;

    i {
        font-size: 4rem;
        color: $color-default;
    }
}

#myBtn:hover {
    background: $color-more-btn;
    opacity: 0.8;
}

.video-content {
    position: absolute;
    top: 10%;
    right: 0%;
    background: rgba(0, 0, 0, 0.3);
    color: $color-default;
    width: 30%;
    padding: 2rem;

    .about-btn {
        margin-top: 2rem;
        opacity: 0.8;
    }
}

// RESPONSIVE

@media only screen and (max-width: 768px) {
    .content-flex {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
    
    // TOP
    
    .about-top {
        justify-content: space-around;
    
        img {
            width: 100%;
        }
    
        .about-top-item {
            justify-content: space-between;
            width: 100%;
        }
    }
    .snd-item {
        width: 100%;
        height: 20rem;
    }

// 3RD

.trd-left {
    width: fit-content;
}

// BOT

    .video-content {
        width: max-content;
        top: 0%;
        padding: 0%;

        p {
            display: none;
        }

        .about-btn {
            margin: 2rem;
            height: fit-content;
        }
    }
}


@media only screen and (max-width: 425px) {

    #myBtn {
        width: 4rem;
        height: 4rem;

        i {
            font-size: 2rem;
        }
    }
    .video-content {
        background-color: transparent;

        .about-btn {
            font-size: 0.5rem;
            margin: 0;
        }
    }
}