@import "../globals/variables.scss";

//SECT1

.about__sect1 {
    justify-content: space-between;
    flex-direction: row-reverse;
    min-height: 50rem;
    gap: 3rem;
}

//LEFT

.abt-l2__subitems--sect1 {
    flex-wrap: nowrap;
    width: 100%;
}

.abt-l2-sub__content--sect1 {
    padding-top: 3rem;
    gap: 2rem;
}

//RIGHT

.abt-l1__img--sect1 {
    width: 40%;
    height: 50rem;
    margin: auto 0;
}

.abt-sect1-r__years {
    background: $primary-color;
    border-radius: $border-radius;
    color: $bg-color;
    text-align: center;
    box-shadow: 2rem 2rem 1rem $layer2;
    width: fit-content;
    padding: 3rem;
    left: -20%;
    bottom: 10%;

    span {
        font-size: clamp(1.6rem, 4vw, 6rem);
        line-height: 8rem;
        font-weight: 600;
    }

    p {
        font-size: clamp(1.6rem, 4vw, 1.8rem);
    }
}

//SECT2

.abt-sect2__body {
    grid-template-columns: repeat(auto-fit, min(45%, 20rem));
    gap: 3rem;
    justify-content: space-around;
    text-align: center;
}

.abt-sect2__counter {
    counter-reset: num var(--n);
    font-weight: bold;
    font-size: clamp(4rem, 4vw, 5rem);
    line-height: 5rem;
    transition: 1s ease-in-out;
    -webkit-text-stroke: .1rem black;
}

.abt-sect2__text {
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    color: $primary-color;
    font-weight: bold;
    line-height: 5rem;
}

//COUNT-ANIMATION

@property --n {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
    
}

.counter {
    animation: count-animate 2s forwards;
}

.abt-sect2__counter::before {
    content: counter(num);
}

@keyframes count-animate {
    0% {
        --n: var(--from);
        transform: scale(.5);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        --n: var(--to);
        transform: scale(1);
    }
}

//SECT3

.about-sect3__body {
    background-image: url(../img/about/banner1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 35rem;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
    position: relative;
}

.about-sect3__body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $layer1;
}

.abt-sect3__text {
    color: $bg-color;
    z-index: 1;

    span {
        font-size: 1.6rem;
    }

    p {
        font-size:clamp(2.4rem, 4vw, 3.6rem);
        font-weight: 600;
        text-align: left;
    }
}

.abt-sect3__btn {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    z-index: 1;

    .btn__abt {
        &--sect3 {
            color: $primary-color;
            background-color: $bg-color;
            width: 100%;
        
        &-1 {
            width: 100%;
        }
    }
}

    .btn__abt--sect3:hover {
        color: $bg-color;
        background-color: $primary-color;
        transform: scale(1);
        cursor: pointer;
    }

    button:hover {
        background-color: $button-hover-color;
        transform: scale(1);
    }
}

//SECT4

.about-sect4__body {
    grid-template-columns: repeat(auto-fit, clamp(12rem, 30vw, 35rem));
    gap: 5rem;
    justify-content: center;
}

.abt-sect4__text {
    margin-top: 2rem;
    text-align: center;

    a {
        font-size: clamp(1.6rem, 4vw, 2.2rem);
        color: $heading-color;
    }

    p {
        font-size: 1.8rem;
        color: $font-color;
    }
}

.abt-sect4__items {
    height: auto;
}

.abt-sect4__items-img {
    display: flex;
    position: relative;
    justify-content: center;

    img {
        width: 100%;
        border-radius: $border-radius;
    }
}

.abt-sect4__hidden-icons {
    position: absolute;
    justify-content: center;
    bottom: 10%;
    flex-wrap: nowrap;
    transition: .4s ease-in-out;
    opacity: 0;

    
    .abt-sect4__icons {

        a {
            width: clamp(3.4rem, 4vw, 4.5rem);
            height: clamp(3.4rem, 4vw, 4.5rem);
            margin: 0 .35rem;
            
            i {
                color: $heading-color;
                transition: .3s ease-in-out;
            }
        }
    }
}

.abt-sect4__items:hover {
    a {
        color: $primary-color;
    }
    
    .abt-sect4__hidden-icons {
        opacity: 1;

        a {
            background-color: $bg-color;            
        }

        a:hover {
            i {
                color: $primary-color;
            }
        }
    }
}

//SECT5
.about__sect5 {
    background: $bg-grey;
    padding-top: 0;
}

.about-sect5 {
    justify-content: space-between;
    gap: 2rem;
}

.ser-sect5__copllapse {
    width: 47%;
}

.abt-sect5__left-item {
    max-height: 40rem;
}

.copllapse {
    font-size: 2rem;
    border: .1rem solid $layer2;
    cursor: pointer;
}

.copllapse__btn {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-weight: $font-weight;
}

.copllapse__btn--gb {
    background: $layer2;
}

.copllapse__up {
    color: $primary-color;
}

.copllapse__content {
    margin: 2rem;
}

//RESPONSIVE


@media only screen and (max-width: 1200px) {
//SECT1

.about__sect1 {
    flex-wrap: wrap;
}

//LEFT

.abt-l2__subitems--sect1 {
    flex-wrap: wrap;
}

.abt-l2-sub__content--sect1 {
    padding-right: 0;
}


//RIGHT

.abt-l1__img--sect1 {
    width: 100%;
    height: unset;
}

.abt-l1__img--sect1 img {
    height: 50rem;
}

.abt-sect1-r__years {
    margin-top: 2rem;
    width: 100%;
    position: static;

    span {
        font-size: 5rem;
    }

    p {
        font-size: 3rem;
    }
}

//SECT2

// .about__sect2 {

// }

//SECT3

.about-sect3__body {
    flex-wrap: wrap;
}

.abt-sect3__text {
    color: $bg-color;
}

.abt-sect3__btn {
    grid-template-columns: 1fr 1fr;
    width: 70%;
}

//SECT4

//SECT5
.about-sect5 {
    flex-wrap: wrap;
}

.ser-sect5__copllapse {
    width: 100%;
}

.abt-sect5__left-item {
    max-height: fit-content;
}

}

@media only screen and (max-width: 600px) {
    .abt-l1__img--sect1 img {
        height: unset;
    }

    .abt-sect3__btn {
        width: 100%;
    }
}