@import "../globals/variables.scss";

// ANIMATION

// HEADER



// MAIN



// FOOTER

.footer__logo:hover {
    i {
        transition: 1.5s;
        transform: scale(1.2);
    }
}

.fa-brands:hover {
    animation: rotate-center 1s alternate;
}

@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

// SUB

// .gradient-text {
//     background-image: linear-gradient( 150deg,
//         #ff3838 0%,
//         #ff3838 10%,
//         #ffaf40 15%,
//         #ffaf40 25%,
//         #fffa65 30%, 
//         #fffa65 40%, 
//         #32ff7e 45%, 
//         #32ff7e 55%, 
//         #18dcff 60%,
//         #18dcff 70%,
//         #ffcccc 75%,
//         #ffcccc 85%,
//         #cd84f1 90%,
//         #cd84f1 100%,
        
//         );
//     animation: rainbow-animation 10s linear infinite alternate;
//     border-radius: 100px;
// }

// @keyframes rainbow-animation {
//     0% {
//         background-size: 900%;
//     }
//     25% {
//         background-size: 700%;
//     }
//     50% {
//         background-size: 500%;
//     }
//     75% {
//         background-size: 300%;
//     }
//     100% {
//         background-size: 100%;
//     }
// }