@import "../globals/variables.scss";

.customer__background {
    background-image: url(../img/customer/banner6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
    position: relative;
}

.customer__wrapper {
    position: relative;
    display: flex;
    max-width: 80%;
    height: 80%;
    padding: 10rem 0 0 8rem;
    overflow: hidden;
}

.customer__content {
    position: absolute;
    width: 100%;
    transition: all .5s ease-in-out;
}

.ctm-ctn__top {
    width: min(90%, 50rem);
}

.ctm-ctn__icon {
    font-size: clamp(3rem, 4vw, 6rem);
    color: $bg-color;
}

.customer__quote {
    font-size: clamp(1.6rem, 4vw, 2rem);
    color: $bg-color;
    margin-bottom: 2rem;
}

.customer__content-bot {
    align-items: center;
}

.content__bot--img {
    img {
        width: 8rem;
        height: 8rem;
        border-radius: $border-radius-full;
        margin-right: 2rem;
    }
}

.bot-sign--name {
    font-size: 2rem;
    color: $primary-color;
}

.bot-sign--sub {
    font-size: 1.8rem;
    color: $bg-color;
}

.customer-dot__control {
    display: flex;
    position: absolute;
    left: 20%;
}

.ctm__dot {
    width: 1.5rem;
    height: 1.5rem;
    background: $bg-color;
    border-radius: $border-radius-full;
    margin: .5rem;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.ctm__dot:hover {
    background: $primary-color;
}
//RESPONSIVE

@media only screen and (max-width: 600px) {

    .customer__wrapper {
        padding: 2rem;
        max-width: 100%;
    }
    
    .ctm-ctn__top {
        padding: 2rem 1rem;
    }
}
