@import "../globals/variables.scss";

// FOOTER

footer {
    background-color: $color-footer;
    color: $color-default;
}

.footer__logo {
    display: inline-block;
    font-size: 30px;
}

.footer__flex {
    display: flex;

    &--item {
        width: 25%;
    }
}

.top-flex {
    justify-content: space-evenly;
    margin-left: 50px;
}

.bot-flex {
    justify-content: space-between;
    margin-top: 20px;
}

.policy {
    p {
        padding-left: 20px;
    }
}

