@import "../globals/variables.scss";

footer {
    background-color: $footer-bg;
    margin-bottom: -120vh;
    overflow: hidden;

}

.footer-flex {
    display: flex;
}

//TOP

.footer-top {
    padding: 7rem 9rem;
}

// TOP LEFT

.footer-top-left {
    width: 40rem;
}

//LEFT CONTENT

.footer-top-left-content {
    margin-right: 5rem;
    margin-bottom: 3rem;

    i {
        color: $primary-color;
        font-size: 3rem;
    }

    a {
        font-weight: 700;
        font-size: 3.2rem;
    }

    p {
        font-size: 1.8rem;
        color: $font-color;
        margin-top: 2rem;
    }
}

// ICON

// .footer-top-left-media{
    
// }

.media-icons {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $bg-color;
        font-size: 1.6rem;
        color: $primary-color;
        margin-right: 1rem;
    }
}

.media-icons:hover {
    a {
        transition: 0.5s ease-in-out;
        background-color: $primary-color;
        color: $bg-color;
    }
}

//TOP RIGHT

//RIGHT CONTENT

.footer-top-right {
    justify-content: space-evenly;
}

.footer-top-right-content {
    min-width: 15vw;
    margin-bottom: 2rem;
    font-weight: 600;

    span {
        font-size: 2rem;
        color: $bg-color;
    }

    a {
        display: block;
        font-size: 1.5rem;
        margin: 1rem;
    }

    a:hover {
        transform: scale(1.2);
        text-shadow: 0 0 5px $button-hover-color;
    }
}

//BOT

hr {
    border: 0.1rem solid $hr-color;
    margin: 0 9rem;
}

.footer-bot {
    padding: 3rem 9rem 7rem;

    p {
        font-size: 1.6rem;
        color: $font-color;

        a {
            color: $primary-color;
            transition: .5s ease-in-out;
        }

        a:hover {
            color: $dropdown-color;
            text-decoration: underline;
        }
    }
}

// RESPONSIVE

@media only screen and (max-width: 900px) {
    //TOP

    .footer-top {
        flex-wrap: wrap;
    }

    // TOP LEFT

    .footer-top-left {
        min-width: 80vw;
        margin-bottom: 5rem;
    }

    //LEFT CONTENT

    .footer-top-left-content {
        margin-right: 0;
    }

    // ICON

    //TOP RIGHT

    //RIGHT CONTENT

    .footer-top-right {
        flex-wrap: wrap;
    }

    .footer-top-right-content {
        min-width: 20vw;

        a {
            display: inline-block;
        }
    }

    //BOT

    .footer-bot {
        text-align: center;
    }

}

@media only screen and (max-width: 425px) {
    //TOP

    .footer-top {
        padding-left: 2rem;
    }

    .footer-top-right {
        justify-content: space-between;
    }

    //BOT

    hr {
        margin: 0 2rem;
    }

    .footer-bot {
        padding: 3rem 2rem 7rem;
    }
    
}