@import "../globals/variables.scss";

// FOOTER

.footer {
    background-color: $color-footer;
    color: $color-default;
    padding-top: 3rem;
    margin-bottom: -130vh;
}


.footer__flex {
    display: flex;
    flex-wrap: wrap;
    
    &--item {
        display: flex;
        justify-content: center;
        width: 15%;
        padding: 2rem;

        .item-content {
            
            li {
                display: block;
                line-height: 3rem;
                width: max-content;
            }
            
            a {
                display: inline-block;
                font-weight: 100;
            }

            a:hover {
                transform: scale(1.2);
                text-shadow: 0 0 5px $color-logo;
                
            }
        }
    }
}

.footer__main {
    width: 20rem;
    padding: 2rem 0;

    a {
        font-size: max(2vw, 2rem);
    }

    span {
        font-size: 2rem;
    }

    .fa-truck-plane {
        color: $color-logo;
    }
}

.icon-list {
    margin-top: 1rem;
    display: flex;

    i {
        font-size: 3rem;
        padding: 1rem;
    }

    .fb {
        color: #3c40c6;
    }

    .it {
        background: linear-gradient(to right, #ff4757 20%, #5352ed 40%, #ffa502 60%, #ff6b81 80%, #000 100%);
        background-clip: border-box;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }

    .gg {
        color: #ff3f34;
    }

    .tw {
        color: #4bcffa;
    }
}

.footer-top {
    justify-content: space-evenly;
}

.footer-bot {
    justify-content: space-between;
    padding: 2rem;
    
    .policy {
        
        a:first-child {
            padding: 0 2rem;
        }
    }
}

// RESPONSIVE

@media only screen and (max-width: 768px) {

    .footer__flex {
        
        &--item {
            width: 50%;
        }
    }
    
    .footer__main {
        display: flex;
        width: 70%;

        .icon-list {
            flex-wrap: wrap;
            width: 90%;
            margin-left: 3rem;
        }
    }

    .footer-bot {
    
        .policy {
            padding-top: 2rem;
            
            a:first-child {
                padding-left: 0rem;
            }
        }
        }
}
