@import "../globals/variables.scss";

/* HEADER */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/header/header-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
}

/* NAV */
.header__nav {
    display: flex;
    justify-content: space-between;
    
/* LOGO */

    &--logo {
        display: flex;
        background-color: $color-link;
        height: min-content;
        border-radius: 1rem;
        color: $color-default;

        h1, i {
            font-size: max(5vw, 4rem);
        }

        i {
            color: $color-logo;
        }
    }

/* NAVBAR */

    &--navbar {
        background-color: $color-link;
        border-radius: 1rem;
        height: min-content;

    li {
        height: 5.6rem;
    }

    a {
        float: left;
        padding: 2rem;
    }

    .dropdown {
        float: left;
    }

    .dropdown .dropbtn {
        font-size: 1.6rem;
        background-color: inherit;
        color: $color-default;
        padding: 2rem;
    }

    .link:hover, .dropdown:hover .dropbtn {
        background-color: $color-hover;
        border-radius: 1rem;
    }

    .dropdown-content {
        display: none;
        background-color: $color-link;
        border-radius: 10px;
        width: 11rem;
        box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem rgba(0,0,0,0.5);
    }

    .dropdown-content a {
        float: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: $color-hover;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    }

    &--another {
        display: none;
    }
}

// HIDDENMENU

.topnav #myLinks {
    position: absolute;
    background-color: $color-link;
    border-radius: 1rem;
    top: 4.3rem;
    right: 2%;
}

.topnav a {
    color: $color-default;
    padding: 1rem;
    display: block;
}

.topnav .menu-icon {
    background-color: $color-link;
    border-radius: 1rem;
    display: block;
    position: absolute;
    top: 1%;
    right: 2%;
}

.topnav a:hover {
    background-color: $color-hover;
    border-radius: 1rem;
}

/* SLIDER */

.header__slideshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--content {
        margin: 0 auto;
        text-align: center;
        color: $color-default;

        span {
            font-size: max(5vw, 3rem);
            -webkit-text-stroke: 3px $color-alt;        
        }

        a {
            display: inline-block;
            background-color: $color-default;
            color: $color-alt;
            border: 5px solid $color-hover;
            border-radius: 1rem;
            font-size: max(1vw, 1rem);
            padding: max(1vw, 1.5rem);
            margin-top: 2rem;
        }

        a:hover {
            background-color: $color-hover;
            color: $color-default;
        }
    }
}

.slideshow {
    text-align: center;
}

.mySlides {
    display: none;
}

img {
    width: max(30vw, 20rem);
}

.text {
    color: $color-default;
    font-size: max(4vw, 2rem);
    width: max-content;
    margin-top: 2rem;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {opacity: 0.3} 
    to {opacity: 1}
}

/* RESPONSIVE */

@media only screen and (max-width: 850px) {

    .header__nav--navbar {
        display: none;
    }

    .header__nav--another {
        display: block;
    }
}

// SUB

