@import "../globals/variables.scss";

//NAV

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 3rem 5rem;
    transition: .3s ease-in-out;
    z-index: 3;
}

// class được add khi scrolldown
nav.stickyNav {
    background: $bg-color;
    box-shadow: 0 2.5rem 9rem 2rem $layer2;

    a {
        color: $nav-color;
    }

    .dropbtn {
        color: $nav-color;
    }

    .dark-btn {
        color: $nav-color;
    }

    .dropbtn:hover,
    .dropbtn:focus,
    .dropdown-item:hover {
        color: $primary-color;
        transition: .3s ease-in-out;

        i {
            color: $nav-color;
        }
}
}

/* NAVBAR */

#menu {
    display: flex;
    align-items: baseline;

    .home a {
        color: $primary-color;
        font-weight: 900;
    }

    .navbar-item {
        display: inline-block;
        font-size: 1.8rem;
        padding: 1rem;
    }

    .navbar-item:hover > a {
        color: $primary-color;
    }
}

//DROPDOWN

/* Dropdown Button */
.hidden-menu, .dropbtn-hidden {
    width: 3rem;
    height: 3rem;
}

.dropbtn {
    color: $dropdown-color;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;

    i {
        font-size: 1rem;
        margin-top: -.5rem;
        margin-left: -.5rem;
    }
}

/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus,
.dropdown-item:hover {
    color: $primary-color;
}
/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $dropdown-color;
    border: .1rem solid $border-color-light;
    border-radius: $border-radius;
    min-width: 15rem;
    margin-top: 1rem;
    margin-left: -4rem;
}

/* Links inside the dropdown */

.dropdown-content a {
    display: block;
    color: $heading-color;
    padding: 1rem 1.5rem;
}

.drop-content-hidden {
    font-size: 1.6rem;
}

/* Show the dropdown menu */

.show {
    display:block;
}

//SEARCH+DARK
.search-box {
    height: 3rem;
    display: none;
}

.head-btn {
    width: 4rem;
    height: 4rem;
    border: none;
    font-size: 2rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.search-btn {
    background: $layer3;
    border-radius: $border-radius-full;
    color: $primary-color;
    margin-left: 2rem;
}

.dark-btn {
    background-color: transparent;
    color: $dropdown-color;
}

// HIDDENMENU

.hidden-nav {
    display: none;
}

.hidden-menu {
    position: relative;
    top: 1rem;
    background-color: $primary-color;
    color: $dropdown-color;
    border-radius: $border-radius;
    font-size: 2rem;
    padding: 1.2rem;
}

.dropbtn-hidden {
    position: relative;
    top: -1.1rem;
    right: 1.25rem;

    i {
        font-size: 2rem;
        color: $bg-color;
        margin: 0 auto;
    }
}

.drop-content-hidden {
    position: absolute;
    width: 90vw;
    top: 6rem;
    right: 2.1rem;
    text-align: center;

    .search-btn {
        margin: 1rem 0;
    }
}

//SLIDE

.slideshow-container {
    position: relative;
    display: grid;
    place-items: center;
    height: 70rem;
    overflow: hidden;
}

.mySlides {
    position: absolute;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;

    &-1 {
        background-image: url(../img/header/banner1.jpg);
    }
    &-2 {
        background-image: url(../img/header/banner2.jpg);
    }
    &-3 {
        background-image: url(../img/header/banner3.jpg);
    }
    &-4 {
        background-image: url(../img/header/banner4.jpg);
    }
}

.slide-content {
    position: absolute;
    text-align: center;

    span {
        font-size: 2rem;
        color: $bg-color;
        opacity: .7;
        margin: 0;
    }

    p {
        font-size: clamp(3.5rem, 4vw, 7rem);
        font-weight: 700;
        color: $bg-color;
        width: 80%;
        margin: 2rem auto;
    }
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    color: $bg-color;
    font-size: 2rem;
    transition: .3s ease-in-out;
    border-radius: $border-radius-full;
    background-color: $layer3;
}

.prev{
    left: 0;
}

.next {
    right: 0;
}

/* On hover, add background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: $bg-color;

    .fa-angle-left,
    .fa-angle-right {
        color: $primary-color;
}
}

/* The dots/bullets/indicators */

.dot-mng {
    position: absolute;
    bottom: 5rem;
}

.dot {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 .5rem;
    background-color: $bg-color;
    border-radius: $border-radius-full;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.active,
.dot:hover {
    background-color: $primary-color;
}

//

//RESPONSIVE//

@media only screen and (max-width: 900px) {

    #menu {
        display: none;
    }

    .hidden-nav {
        display: flex;
        align-items: baseline;
    }

    .slideshow-container {
        height: 60rem;
    }

    .slide-content {
        text-align: left;
        margin: 0 2rem;

        p {
            margin-inline: 0;
        }
    }

    .prev,
    .next {
        display: none;
    }
}