@import "../globals/variables.scss";

// ELEMENTS

h1 {
    font-size: 3rem;

    i {
        color: $primary-color;
    }
}

h2 {
    font-size: clamp(3rem, 4vw, 4rem);
    text-align: center;
}

h3 {
    font-size: 3.5rem;
    text-align: center;
}

h4 {
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 1.5;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
    color: $font-color;
}

a,
button {
    font-family: 'Sarabun', sans-serif;
    text-decoration: none;
    color: $dropdown-color;
    transition: .3s ease-in-out;
    cursor: pointer;
}

//Button have default bg
button {
    background: transparent;
}

ul,
li {
    list-style-type: none;
}

section {
    padding-top: 5rem;
}

//
.dark-theme {
    color: $bg-color !important;
    background: $footer-bglight !important;
}

nav.dark-theme {
    box-shadow: 0 .5rem .5rem .5rem $layer3;
}

// BACK TO TOP BUTTON

.top {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2rem;
    bottom: 5rem;
    background-color: $primary-color;
    border-radius: $border-radius-full;
    width: 4rem;
    height: 4rem;
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: scale(0);

    i {
        font-size: 1.5rem;
        color: $border-color-light;
    }
}

.backTopBtn {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.top i {
    animation: bounce .5s ease-in-out infinite alternate;

    @keyframes bounce {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-.5rem);
        }
    }
}

//

//DISPLAY

.flex {
    display: flex;
}

.grid {
    display: grid;
}

//POSITION

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

//REPEAT LAYOUTS

//CONTAINER

.container {
    margin: auto;
    padding: 5rem 10rem;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 4rem 2rem;
    }
}

//HEADER BANNER for all sub-pages

.header-banner {
    position: relative;
    background-image: url(../img/about/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 35rem;
    color: $bg-color;
}

//HEADER-CENTER

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    
    span {
        display: block;
        color: $bg-color;
        font-size: 1.6rem;
        margin-top: 2rem;
        width: max-content;
    }
}

// SECT-HEADING

.sect-heading {
    text-align: center;

    span {
        font-size: 2rem;
        color: $font-color;
    }
}

// BUTTONS

.button {
    display: inline-block;
    position: relative;
    text-align: center;
    background: $primary-color;
    font-size: 1.5rem;
    font-weight: $font-weight;
    border-radius: $border-radius;
    border: none;
    width: fit-content;
    padding: 1.8rem 3rem;
    margin-top: 2rem;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background: $button-hover-color;
    box-shadow: 0 0 .5rem .5rem $font-color;
}