@import "../globals/variables.scss";

// SERVICES

.services__content{

    &--content-top{
    background-color: $color-services-top;
    }
}

.services__title {
    text-align: center;
    padding: 2rem 0;
}

.services__flex {
    display: flex;
    padding: 3rem;


    &--item-top {
        background-color: $color-default;
        width: max-content;
        border-radius: 1rem;
        padding: 3rem 1rem;
        margin: 0 2rem 2rem;
        text-align: center;

        .item-icon {
            position: relative;
            background-color: $color-services-top;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin: auto;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-more-btn;
            }
        }
    }

    &--item-bot {
        max-width: fit-content;
        margin: 0 5rem 2rem;

        img {
            width: 100%;
        }
    }

    h3 {
        margin: 1rem auto;
    }
}

.services-top {
    justify-content: center;
}

.services-bot {
    justify-content: center;
}

.services-btn {
    margin: 0 auto;
}

// RESPONSIVE

@media only screen and (max-width: 700px) {
    .services__flex {
        flex-wrap: wrap;
    }
}