@import "../globals/variables.scss";

//SERVICES

.services {
    background-color: $bg-grey;
}


//TOP 

.ser-top__body {
    
    &--layout {
        margin: 10rem 0;
    }

}

//REPEATABLE LAYOUT

.ser-layout1__body {

    &--layout {
        justify-content: space-evenly;
    }
}

.ser-layout1__items {

    &--layout {
        text-align: center;
        background-color: $bg-color;
        border-radius: $border-radius;
        width: 33%;
        padding: 6rem 4rem;
    }

    &--content {

        a {
            color: $heading-color;
            font-size: 2rem;
            line-height: 2.6rem;
            font-weight: $font-weight;
        }
    
        p {
            color: $font-color;
            font-size: clamp(1.6rem, 4vw, 1.8rem);
        }
    
        a:hover {
            color: $primary-color;
            transition: .3s ease-in-out;
        }
    }

    .ser-l1-items__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        width: 10rem;
        border-radius: $border-radius-full;
        background-color: $bg-grey;
        margin: 0 auto;
        transition: .6s ease-in-out;
        cursor: pointer;

        i {
            color: $primary-color;
            font-size: 4rem;
        }
    }
}

.ser-layout1__items:hover {

    .ser-l1-items__icon {
        background-color: $primary-color;

        i {
            color: $bg-color;
        }
    }
}

//BOT

.ser-bot__body {

    &--layout {
        padding: 10rem 0;
    }

}

//REPEATABLE LAYOUT

.ser-layout2__body {

    &--layout {
        text-align: left;
        background-color: $bg-color;
    }
}

.ser-layout2__items {
    width: 22vw;
}

.ser-l2__items-wrapper {
    height: 30vh;
    border-radius: $border-radius;
    overflow: hidden;
}

.ser-l2__items-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    cursor: pointer;

    a {
        width: 100%;
        height: 100%;
    }
}

.ser-l2__items-img:hover {
    transform: scale(1.1);
}

//

.ser-l2__items-img {

    &--bot1 {
    background-image: url(../img/services/g1.jpg);
    }

    &--bot2 {
        background-image: url(../img/services/g6.jpg);
    }

    &--bot3 {
        background-image: url(../img/services/g2.jpg);
    }

    &--bot4 {
        background-image: url(../img/services/g5.jpg);
    }
}

// BUTTON

.services-button{
    background-color: $bg-color;
    text-align: center;
}

//RESPONSIVE

// @media only screen and (max-width: 768px) {
//     //TOP

//     .ser-layout1__items {
//         min-width: 90%;
//     }

//     //BOT

//     .ser-layout2__items {
//         width: 42vw;
//     }

//     .ser-l2__items-wrapper {
//         max-height: 28vw;
//     }
// }