@import "../globals/variables.scss";

//SECT1

//SECT2

.services__sect2 {
    background: $bg-grey;
}

.ser-sect2__body {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
}

//SECT3

.ser-sect3__body {
    
    &--layout {
        margin: 5rem 0;
    }

}

.ser-l2__items-img {

    &--sect3-1 {
        background-image: url(../img/services/sv.jpg);
    }

    &--sect3-2 {
        background-image: url(../img/services/g6.jpg);
    }
    
    &--sect3-3 {
        background-image: url(../img/services/g1.jpg);
    }
    
    &--sect3-4 {
        background-image: url(../img/services/g5.jpg);
    }

}

.ser-sect3__items-content {
    text-align: center;
    color: $bg-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    i {
        font-size: 4rem;
    }
    
    .up {
        width: max-content;
        font-size: clamp(1.8rem, 4vw, 2.4rem);
        transition: .3s ease-in-out;
        margin-top: 3rem;
    }
}

.ser-l2__items-img {
    &--sect3::after {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1) 60%, rgba(0, 0, 0, 0.8));
    }
}

.ser-l2__items-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
}

.ser-layout2__items:hover {
        .up {
            transform: translateY(-2.5rem);
        }

    .ser-l2__items-img {
        &--sect3::after {
            background-image: linear-gradient(rgba(255, 255, 255, 0.2) 20%, rgba(0, 0, 0, 0.8));
        }
    }
}

@media only screen and (max-width: 425px) { 
    .ser-l2__items-wrapper {
        height: 10rem;
    }

    .ser-sect3__items-content {
    
        i {
            display: none;
        }
        
        .up {
            width: fit-content;
            font-size: clamp(1.8rem, 4vw, 2.4rem);
            transition: .3s ease-in-out;
            margin-top: 0;
        }
    }
}