@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
    // overflow-x: hidden;
}

body {
    font-family: 'Sarabun', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 5rem;
}

a, button {
    font-family: 'Sarabun', sans-serif;
    text-decoration: none;
    color: $dropdown-color;
}

ul,
li {
list-style-type: none;
}

.title {
    text-align: center;
    padding-top: 5rem;

    span {
        font-size: 1.5rem;
        color: $font-color;
    }
}

// BUTTON

.button {
    display: inline-block;
    background-color: $primary-color;
    font-size: 1.5rem;
    border-radius: $border-radius;
    width: fit-content;
    padding: 1.8rem 4rem;
    transition: .2s ease-in-out 0s;
}

.button:hover {
    background-color: $button-hover-color;
    transform: scale(1.2);
    cursor: pointer;
}

//

.container {
    padding: 0 2.5rem 5rem;
}

// BACK TO TOP BUTTON

.top {
    --offset: 5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 95%;
    bottom: 5%;
    background-color: $primary-color;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-top: calc(100vh + var(--offset));
    margin-right: .5rem;
    transition: .5s ease-in-out;

    i {
        font-size: 1.5rem;
        color: $border-color-light;
    }
}

.top:hover {
    background-color: $button-hover-color;
}