@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    font-family: 'Bubblegum Sans', cursive;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
    color: $color-default;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

input, button {
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.container {
    width: 100vw;
    padding: 1% 2%;
    margin: auto;
}