$color-default: #ffffff;
$color-alt: #000000;

$color-logo: #48dbfb;

$color-hover: rgba(16, 17, 17, 0.3);

$color-more-btn: #ff3838;
$color-morebtn-hover: #ff6348;

$color-services-top: #ecf0f1;
$color-footer: #292c31;