$bg-color: #fff;
$bg-grey: #f1f1f7;
$bg-lightgrey: #f9f9f9;
$primary-color: #f52029;
$footer-bg: #181d2e;
$footer-bglight: #222;
$button-hover-color: #ff5252;
$heading-color: #181d2e;
$dropdown-color: #fff;
$font-color: #636466;
$nav-color: #181d2e;
$border-color-light: #e4e6e5;
$font-weight: 700;
$border-radius: .6rem;
$border-radius-full: 50%;
$border-color: transparent;
$iframe-filter: grayscale(0%);
$layer: rgb(0 0 0 / 80%);
$layer1: rgb(0 0 0 / 50%);
$layer2: rgb(0 0 0 / 20%);
$layer3: rgb(255 255 255 / 20%);
$layer4: rbg(0 0 0 / 10%);
$hr-color: rgb(255 255 255 / 7%);