$primary-color: #f52029;
$button-hover-color: #ff5252;
$font-color: #b5b4b4;
$bg-color: #fff;
$heading-color: #181d2e;
$border-radius: 6px;
$border-radius-full: 50%;
$border-color: transparent;
$border-color-light: #e4e6e5;
$nav-color: #181d2e;
$dropdown-color: #fff;
$iframe-filter: grayscale(0%);
$bg-grey: #f7f7f9;
$bg-lightgrey: #f9f9f9;
$layer: rgb(0 0 0 / 56%);
$layer1: rgb(0 0 0 / 65%);
$footer-bg: #181d2e;
$footer-bglight: #222;
$hr-color: rgb(255 255 255 / 7%);